<!DOCTYPE html>
<html class="back">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name = "viewport" content = "width=device-width", initial-scale = "1">	<!-- 반응형 웹에 사용하는 메타탭(부트스트랩) -->
        <link rel="stylesheet" href="/css/bootstrap.css"> <!-- 스타일시트 참조, 부트스트랩 참조 -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="/css/style.css" />

        <title>조기요 - 사장님 사이트</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    </head>
    <body class="back">
        <nav class ="navbar navbar-default">	<!-- 내비게이션 구현 -->
            <div class = "navbar-header">	<!-- 헤더(로고 영역) -->
                <button type="button" class="navbar-toggle collapsed" data-toggle = "collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded = "false">	<!-- 버튼 -->
                    <span class = "icon-bar"></span>	<!-- 네비게이션 목록 작대기 -->
                    <span class = "icon-bar"></span>	
                    <span class = "icon-bar"></span>
                </button> 
                <a class = "navbar-brand" href="main"> 조기요-사장님 사이트 </a> <!-- brand: 로고 -->
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class ="nav navbar-nav">	<!-- 리스트 -->
                    <li><a href="main">메인 페이지</a></li>
                    <li><a href="orders">주문접수</a></li>
                    <li class="active"><a href="management">매장관리</a></li>	<!-- ## -->
                </ul>
                <ul class ="nav navbar-nav navbar-right">	<!-- 오른쪽 리스트 -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 접속하기 <span class="caret"></span></a> <!-- #: 현재 가르치고 있는 링크가 없다. caret: 하나의 아이콘 같은 것-->
                        <ul class= "dropdown-menu">	
                            <li><a href="login"> 로그인 </a></li>
                            <li><a href="join"> 회원가입 </a></li>
                        </ul>
                    </li>	
                </ul>
            </div>
        </nav>
        
    <h3>좌석 배치도 수정</h3>
    <input type="button" value="테이블 추가" id="add_table_id" class ="btn btn-primary btn-lg table_add" onclick = "make_table()" >
    <input type="button" value="창문 추가" id="add_window_id" class ="btn btn-primary btn-lg window_add" onclick ="make_window()">
    <input type="button" value="저장" id="add_window_id" class ="btn btn-primary btn-lg" onclick ="save()">
    <div class="box_border" id="box"> </div>

    script.
        const container = document.querySelector('#box');

        var t = 0;
        var w = 0;
        var tables = []
        var windows = []
            
        function make_table(){
            var table = document.createElement('div');
            var t_id = 'table' + t;
            for(var i = 0; i < tables.length; i++) {
                if(tables[i] === t_id)  {
                    t++;
                    var t_id = 'table' + t;
                    console.log("table: ",t);
                }   //배열에서 해당 요소 삭제
            }
            tables.push(t_id);
            table.id = t_id;
            table.style.position="absolute";
            table.style.left = '137%';
            table.style.top = '12%';
            table.style.width="10%";
            table.style.height="14%";
            table.style.backgroundColor="#f2cfa5";
            table.style.border="1px solid black";
            
            //좌석 번호 입력하는 폼과 저장버튼
            table.innerHTML =
                `<form action ='' accept-charset='utf-8' name='table_num' method='get'> <input type='button' value='X' onclick='dele("${t_id}")'> <p> ${t_id} </p>`;
            //- document.body.appendChild(table);
            container.appendChild(table);  //container에 window를 속하게 만들기(자식 요소로 만듦)
            
            console.log("배열: ", tables);
            
            $(table).draggable({containment : '#box', cursor: "move"});
            t++;
        }

        function make_table(){
            var window = document.createElement('div');
            var w_id = 'window' + w;
            for(var i = 0; i < windows.lengwh; i++) {
                if(windows[i] === w_id)  {
                    w++;
                    var w_id = 'window' + w;
                    //- console.log("window: ",w);
                }   //배열에서 해당 요소 삭제
            }
            windows.push(w_id);
            window.id = w_id;
            window.style.position="absolute";
            window.style.left = '137%';
            window.style.top = '12%';
            window.style.width="10%";
            window.style.height="14%";
            window.style.backgroundColor="#f2cfa5";
            window.style.border="1px solid black";
            
            //좌석 번호 입력하는 폼과 저장버튼
            window.innerHTML =
                `<form action ='' accept-charset='utf-8' name='window_num' method='get'> <input type='button' value='X' onclick='dele("${w_id}")'> <p> ${w_id} </p>`;
            //- document.body.appendChild(window);
            container.appendChild(window);  //container에 window를 속하게 만들기(자식 요소로 만듦)
            
            console.log("배열: ", windows);
            
            $(window).draggable({containment : '#box', cursor: "move"});
            w++;
        }

        function dele(t_id){
            console.log("삭제:", t_id);
            
            var t_target = document.querySelector('#'+t_id);   //문자열로 받아온 tid에 해당하는 객체를 받아옴.
            container.removeChild(t_target);  //부모요소(container)에서  자식요소(target)를 제거함.

            //제거시 id를 하나씩 빼줘야함.
            for(var i = 0; i < tables.length; i++) {
                if(tables[i] === t_id)  {
                    tables.splice(i, 1);
                    t = i--;
                }   //배열에서 해당 요소 삭제
            }
        }

        function dele(w_id){
            console.log("삭제:", w_id);
            
            var w_target = document.querySelector('#'+w_id);   //문자열로 받아온 wid에 해당하는 객체를 받아옴.
            container.removeChild(w_target);  //부모요소(container)에서  자식요소(target)를 제거함.

            //제거시 id를 하나씩 빼줘야함.
            for(var i = 0; i < windows.length; i++) {
                if(windows[i] === w_id)  {
                    windows.splice(i, 1);
                    w = i--;
                }   //배열에서 해당 요소 삭제
            }
        }

        function save() {
            const doms = windows.map(w => {
                return document.querySelector('#'+w)
            })
            const a = doms[0] //a의 정보를 가져옴
            const containerWidth = container.clientWidth //컨테이너 박스의 x좌표를 가져옴
            console.log(a.offsetLeft, containerWidth, a.offsetLeft/containerWidth)  //
        }

        //- function getLoc(){
        //-     /* var x = event.offsetX;
        //-     var y = event.offsetY; */
        //-     const target = document.getElementById('num'); // 요소의 id 값이 target이라 가정
        //-     const absoluteTop = window.pageYOffset + target.getBoundingClientRect().top;
        //-     //- alert("현재좌표는 : " absoluteTop);
        //-     console.log ("현재 좌표: ", absoluteTop);
        //- }
    </body>
</html>